<div class="container-main">
  <div class="sidebar">
    <div class="sidebar-head">
      <h2>harmon.ee</h2>
    </div>
    <div class="sidebar-content">
      <p><a class="sidebar-link" routerLink="/search" [routerLinkActive]="'is-active'">Search</a></p>
      <p><a class="sidebar-link" routerLink="/browse" [routerLinkActive]="'is-active'">Browse</a></p>
      <p><a class="sidebar-link" routerLink="/collection" [routerLinkActive]="'is-active'">Your Music</a></p>
    </div>
  </div>
  <div class="grid-item main-view">
    <router-outlet></router-outlet>
    <!-- Routed views go here -->
  </div>
</div>
<div class="container-player">
  <div class="grid-item"></div>
  <div class="grid-item"></div>
</div>