.content {
    height: 100%;
    width: 100%;
    background: #141421;
}
.search{
    background: #1B1B2A;
    width: 70%;
    padding: 30px 15%;
}
.search p{
    margin: 0;
}
.search input {
    background: rgba(0,0,0,0);
    font-size: 3em;
    border: none;
    overflow: visible;
    cursor: text;
    caret-color: #726CEC;
    color: #fff;
}
.search input:focus {
    outline: none;
}